<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.boardver3.board.BoardMapper">
    <insert id="insBoard">
        insert into t_board
        set title=#{title}
        ,ctnt=#{ctnt}
        ,iuser=#{iuser}
    </insert>
    <select id="selBoard" resultType="BoardVo">
        select A.iboard, A.title, B.nm, A.created_At createdAt
        from t_board A
        inner join t_user B
        on A.iuser = B.iuser
        order by iboard desc
        limit #{startIdx}, #{row}

    </select>
   <update id="updBoard">
       update t_board
       set title=#{title}
       ,ctnt=#{ctnt}
       where iboard=#{iboard}
   </update>

</mapper>